<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username" value="Gokul2109"/>
  <parameter name="password" value="gokul@2109"/>
  <parameter name="checkin" value="14/09/2021"/>
  <parameter name="checkout" value="15/09/2021"/>
  <parameter name="firstname" value="ramanan"/>
  <parameter name="lastname" value="sivakumar"/>
  <parameter name="address" value="chennai"/>
  <parameter name="ccnum" value="1234567890123456"/>
  <parameter name="ccCvv" value="1234"/>
    <classes>
      <class name="org.test.unit.AdactinLogWithTestNg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
